.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.layout {
  margin-top: 100px;
}

.text- {
  &center {
    text-align: center;
  }

  &left {
    text-align: left;
  }

  &right {
    text-align: right;
  }
}

.margin- {

}